
body {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
}

h2, h3, h4 {
	margin: 0px;
	padding: 10px;
}

/* Main Div */

.main {
	padding-top: 69px;
	opacity: 0.9;
	width: 1200px;
	margin: auto;
}

/* generic flex container */

.flex-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

/*Navigation Styles*/

header {
	width: 100%;
	position: fixed;
	z-index: 1;
	height: 69px;
	background-color: black;
	border-bottom: 1px solid seashell;
	align-items: center;
}

header img {
	height: 50px;
	padding-left: 10px;
}

nav {
	text-align: right;
	flex-grow: 1;
}

nav span {
	display: inline-block;
	padding: 20px 10px;
}

nav a {
	color: seashell;
}


/*.top-nav {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: right;



}

.top-nav span {
	margin: 10px;
	display: inline;
	text-decoration: underline;
	text-align: center;

}

.top-nav a {
	color: seashell;
	text-align: center;
}*/

/*Mission Section*/

.mission-section {
	background-image: url(resources/img-mission-background.jpg);
	height: 700px;
	padding-top: 70px;
	
	
}

.mission-wording {
	margin: auto;
	background-color: black;
	width: 100%;
}

/*.mission-section h2 {
	text-align: center;
	background-color: black;
	margin-bottom: 0;
	width: 1200px;
	
}

.mission-section h4 {
	text-align: center;
	background-color: black;
	margin-top: 0;
	width: 1200px;
		
}*/



/*.img-mission {
	height: 700px;
}*/

/* Tea of the Month Section*/

.tea-of-month {
	height: 700px;
	width: 1000px;
	margin: auto;
	padding-top: 70px;

}

.tea-box {
	padding: 5px;
}

.tea-box img {

	height: 200px;
	width: 300px;
	margin: 10px;
	display: block;
}

/*Locations Section*/

.locations-section {
	background-image: url(resources/img-locations-background.jpg);
	height: 500px;
	padding-top: 70px;

	/*background-size: 100% 500px; 
	height: 500px;
	width:100%;
	background-size: contain;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;*/
}

.locations-box {
	opacity: 1.0;
	padding: 10px;
	margin: 5px 20px;
	background-color: black;
	flex-basis: 280px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}



/* Contact */

.contact {
	height: 200px;
}

/* Footer */

footer {
	text-align: left;
	padding-left: 20px;
}