
body {
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
}

nav {
	height: 69px;
	width: 100%;
	border-bottom: 1px solid seashell;
	position: fixed;


}

nav span {
	margin: 10px;
	display: inline;
	text-decoration: underline;
	margin-bottom: 34.5px;
	text-align: center;

}

a {
	color: seashell;
}

 .logo {
	height: 50px;
	margin: 10px;

}

.img-mission {
	height: 700px;
}

/*Locations Section*/

.locations-section {
	background-image: url(resources/img-locations-background.jpg);
	height: 500px;
	width:100%;
	background-size: contain;

}

.locations-box {
	width: 300px;
	height: 200px;
	background-color: black;
	opacity: 1;
	margin: 40px 15px;

}

/* Footer */

.copyright {
	text-align: left;
}